h1{
    color:red;
}
h2 {
    color: rgb(221, 93, 8);
}
p1 {
    font-size: 20px;
    color:blue;
}
p2 {
    font-size: 20px;
    color: rgb(7, 70, 153);
}
b{
    font-size: 22px;
}
title{
    text-align:center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p3 {
    color:teal;
}
body {
    background-color:yellowgreen;
}
p3 {
    font-size: 20px;
}
p4 {
    color: rebeccapurple;
    font-size:20px;
}
hr{
    color:fuchsia;
}
li{
    text-align: left;
}
p{
    font-size: 28px;
}
.contenido{
display:flex ;
justify-content: space-around;
align-items: flex-start;
height: 70vh;
}
a{
    font-size: 30px;
}
nav{
    justify-content: space-around;
}
.image {
    margin: 19px;
    border-color:darkgreen;
    border-radius: 19px;
    margin-bottom: 19px;
    border-style: solid;
}